*{
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    font-size: 14;
}

/* Outermost Div */
.container {
    height: 100vh;
}

/* Container for whole grid */
.grid{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for the cells */
.grid-container{
    width: 800px;
    height: 400px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}

/* Container for a row of cells */
.grid-cell-row{
    display: flex;
}

/* Cell styling */
.grid-cell{
    min-width: 25px;
    min-height: 25px;
    border: 1px solid lightgray;
    font-size: 18px;
}

/* Cell States */
.source-cell{
    background-color: lime;
}

.destination-cell{
    background-color: red;
}

.explore-cell{
    background-color: royalblue;
}

.finalpath-cell{
    background-color: yellow;
}

.obstacle-cell{
    background-color: black;
}