*{
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    font-size: 14;
}

/* Outermost Div */
.container {
    height: 100vh;
}

/* Container for whole grid */
.grid{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container for the cells */
.grid-container{
    width: 800px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

/* Container for a row of cells */
.grid-cell-row{
    display: flex;
}

/* Cell styling */
.grid-cell{
    width: 25px;
    height: 25px;
    background-color: gray;
    border: 1px solid lightgray;
    font-size: 18px;
}

/* Cell States */
.source-cell{
    background-image: url('assets/src-node.svg');
    background-position: center;
    background-color: white;
}

.destination-cell{
    background-image: url('assets/target-node.svg');
    background-position: center;
    background-color: white;
}

.explore-cell{
    background-color: royalblue;
}

.bomb-cell{
    background-image: url('assets/bomb.svg');
    background-position: center;
}

.obstacle-cell{
    background-color: black;
}

.finalpath-cell{
    background-color: yellow;
}

/* Legend */
.legend{
    height: 15%;
}

.legend-row{
    display: flex;
    justify-content:space-evenly;
}

.legend-cell{
    display: flex;
    justify-content: space-evenly;
    padding: 6px;
}

.legend-img{
    width: 23px;
    height: 23px;
}


